/* Styles for Restpassword component */
.reset-container {
  width: 400px;
  margin: auto; /* Center the container horizontally */
  padding: 20px;
  border-radius: 10px;
  background: url('https://th.bing.com/th/id/OIG3.x_Tqd4ze36Krw19tYfHH?w=1024&h=1024&rs=1&pid=ImgDetMain') center center / cover; /* Background image */
   
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Soft box shadow */
  text-align: center;
}

.rest-wrapper {
  background-color:#ff9966; 
  min-height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* Title styles */
.reset-title {
  font-size: 36px;
  color: white;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}


/* Input styles */
.reset-input {
  width: calc(100% - 40px);
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

/* Button styles */
.reset-button {
  width: calc(100% - 40px);
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.reset-button:hover {
  background-color: #0056b3;
}

/* Error message styles */
.reset-error-message,
.reset-success-message {
  font-size: 14px;
  margin-top: 10px;
}

.reset-error-message {
  color: #ff0000;
}

.reset-success-message {
  color: #00cc00;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .reset-container {
      width: 90%; /* Adjust width for smaller screens */
  }

  .reset-title {
      font-size: 28px; /* Decrease font size for smaller screens */
  }

  .reset-input,
  .reset-button {
      width: calc(100% - 20px); /* Adjust input and button width for smaller screens */
  }
}
